@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');



* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
	padding : 0;
  }

body
{
	font-family: "Lora", serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(144, 152, 152);
}

/**
 ************************
 		A VOUS :D !
 ************************
**/


