nav ul{
	padding: 0px;
	margin: 0px;
	list-style-type:none;
	background-color:#222326;
	
			}

nav li{

	display:inline-block;
	width:130px;
	height:80px;
	margin:0px;
	padding:0px;	
	text-align:center;
	line-height:40px;	
	
			}
			

nav li:hover{
	background-color:#2DCA5C;
	
}

nav li a{
	font-family:verdana;
	display:block;
	text-decoration:none;
	color:white;
	
	
}		