body{
  position: relative;
  background-color:
	#E6EDEA;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
section {
  margin-left: 200px;
 overflow: auto;
  
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

nav a{
	color:green;
	text-decoration:none;
	
	
	
}
nav a:hover{
	color:red;
	
	
}

footer a{
	color:red;
	
	
}

footer a:hover{
	color:green;
	left:500px;
}


section img{
	
	float:right;
	
	
}