@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 25px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.enfantdebody
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card
{
    border: 1px solid rgb(210, 203, 203);
    border-radius: 8px;
    height: 375px;
    min-width: 350px;
    max-width: 350px;
    background-color: rgb(249, 247, 247);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.title
{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding:10px;
    text-align: center;
}

img
{
    width: 150px;
    height: 150px;
}

.all-center
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-card
{
    border: 1px solid rgb(229, 221, 221);
    padding: 07px;
    flex-grow: 1;
}