@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');







*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    min-height: 120vh;
    font-family: 'Roboto', sans-serif;
}

body 
{
    background-color: rgb(224, 208, 208);
}

main
{

    /** Essayer de jouer avec le width !**/
    /*************************************/

        /* width: 50%; */
        width: 100%;

    /*************************************/

    height: 2000px;
    overflow: visible;
}

div
{
    margin-top: 50px;
    min-height: 100px;
}

/***********************/
/** ICI LES POSITIONS **/
/***********************/

