@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	width: 100%;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

body, main
{
	width: 100%;
	height: 100%;
}

section
{
	min-height: 100vh;
	height: 100%;
	position: relative;
}

a
{
	text-decoration: none;
}

main
{
	position: relative;
}

nav
{
	background-color: rgb(201, 201, 214);
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 10;
}

nav ul {
	display: flex;
	justify-content: right;
	align-items: center;
	/* gap: 25px; */
	height: 100%;
	/* margin-right: 35px; */
}

ul, li {
	list-style: none;
}

.btn-1
{
	color: black;
	padding: 10px 25px;
}

#presentation
{
	background-color: rgb(242, 245, 245);
	height: 100%;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/paysage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-personne
{
	width: 350px;
}

.text-pres
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 7px;
}

.text-pres h1
{
	font-size: 3.5rem;
	color:rgb(93, 6, 93);
	font-weight: 900;
}

.text-pres span
{
	font-size: 1.7rem;
	margin-top: 18px;
}

.title-section
{
	width: 100%;
	background-color: rgb(25, 119, 170);
	color: white;
	text-align: center;
	padding: 12px;
	position: sticky;
    top: 50px;
}

.marg-me
{
		/* position: relative; */
	margin-top: 50px;
}
/**
	MES PROJETS CSS
**/

.container-projets
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 35px;
}

.container-s
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.card 
{
	border: 1px solid rgb(198, 190, 190);
	border-radius: 10px;
	padding: 12px;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.title-3
{
	font-size: 2rem;

}

.title-card
{
	width: 100%;
	background-color: rgba(255, 0, 0, 0.604);
	color: white;
	font-size: 21px;
	height: 35px;
	text-align: center;

}

.image-card, img
{
	width: 200px;
}

.text-card
{
	padding: 12px;
	border: 1px solid grey;
	border-radius: 8px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}