@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/** NE PAS SUPPRIMER **/
* {
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

p {
	margin: 0;
	padding: 0;
}

body
{
	margin:0px;
	padding:0px;
    font-family: "Lora", serif;
    min-height: 200vh;
}


/** VOTRE CSS A PARTIR D ICI **/